<!DOCTYPE html>
<html>
  <head>
    <title>Seulki Oh Resume</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="booyah-box col-10 offset-1">

        <%= link_to root_path, class: 'logo' do %>
        <div class="logo" alt="logo">
          <%= image_tag 'jlogo1.png', class: 'logo' %>
        </div>
        <% end %>

      </div>
      <div class="booyah-box col-10 offset-1">
        <h1>Seulki Oh</h1>
      </div>

      <div class="booyah-box col-10 offset-1">
      <ul class="nav justify-content-end">
      <li class="nav-item">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      </li>
      </ul>
    </div>
    </header>

    <div class="text-center">
        <div class="myPic" alt="Seulki's Picture">
         <%= image_tag 'myPic.JPG', class: 'img-fluid' %>
       </div>
    </div>


    <br class="clear" />

    <div class="col-10 offset-1">
      <h2 class="text-center">Career objective</h2>
      <br />
      <p class="main_p">
        Full Stack Web Developer with a background in Tourism and Customer Service. Recognized as creative, passionate, aware of the latest trends and persistent problem-solver. Effective at combining creativity developing and designing skills to develop user-friendly web applications. 
      </p>
    </div>
  </div>

   <br class="clear" />

    <div class="col-10 offset-1">
      <h2 class="text-center">Technical Skills</h2>
      <br />
      <p class="main_p">
        Languages: HTML5, CSS3, JavaScript, Jquery, Ruby, Ruby on Rails, React JS, Firebase, Node Js, Bootstrap, Postgresql, MySQL, MongoDB, Express, Handelbars.js & React JS, Git, Heroku.
        Applications: Adobe Photoshop, Adobe Dreamweaver, Adobe Animate CC, UI Mockup.
        Certifications: Microsoft JavaScript, Microsoft HTML, Microsoft CSS 2019.
      </p>
    </div>
  </div>

  <br class="clear" />

  <div class="col-10 offset-1">
      <p class="main_p">
        <h2 class="text-center">EDUCATION</h2>
        <br />
      <ul class="ul_main">
        University of California Berkeley Extention - 2019-2020
      <li>Coding Boot Camps : Full-Stack Web Development</li>
        Wake Tech Community College Web Development - 2019
      <li>Coding Boot Camps : Front-End Web Development</li>
        Baekseok University in South Korea - 2008 - 2013
      <li>The Bachelors of Arts in Tourism</li>

      </ul>
      </p>
    </div>


    <br class="clear" />
    
    <div class="col-10 offset-1">
      <h2 class="text-center">Experiences</h2>
      <br />

      <p class="main_p">
        <br />
        <strong>METIF KOREA WEBSITE 2019 - www.metifkorea.shop</strong>
      <ul class="ul_main">
      <li>Designed a consumer friendly Hair Cosmetics & Accessory website using CMS ( Content Management System).</li>

      <li>Maintained website using FTP file management and Go Daddy maintenance and web domain/hosting.</li>

      <li>Performed multiple assignments under pressure and consistently met deadlines given.</li>
      </ul>
      </p>
    </div>
  </div>

      <p class="main_p">
        <br />
        <strong>YELP CLONE PROJECTS 2019</strong>

      <ul class="ul_main">
        <li>Built a Yelp Clone that integrates with the Google Map API and includes features user comments, star ratings, image uploading and user authentication.</li>

        <li>Created web application using the Ruby on Rails framework, HTML and CSS.</li>
      </ul>
      </p>
    </div>
  </div>

  <br class="clear" />

      <p class="main_p">
        <br />
        <strong>Flixter Yoga Project</strong>
      <ul class="ul_main">
      <li>Built a Video Streaming Platform, featuring credit card payment capabilities, user role management, complex user interfaces and advanced database relationships.</li>

      <li>Created web application using the Ruby on Rails framework, HTML, CSS, Javascript and Bootstrap.</li>

      </ul>
      </p>
    </div>
  </div>

   <br class="clear" />

      <p class="main_p">
        <br />
        <strong>KOREA TOURISM ORGANIZATION Incheon Airport 2012-13</strong>
      <ul class="ul_main">
      <li>Managed duty free goods and customs declaration.</li>

      <li>Communicated with travelers effectively.</li>

      <li>Greeted and assisted customers in a friendly and timely manner.
      <li>Adept at working in an fast pace environment.</li>

      </ul>
      </p>
    </div>
  </div>

  <br class="clear" />

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#newExperience">
  <%= link_to 'Add a new experience', new_experience_path %>
</button>

  </div>
</div>

    <br class="clear" />


    <div class="container">
    <%= yield %>
    </div>

  <br class="clear" />  
  <br class="clear" />
    <div class="footer">
      <div class="container">
        <div class="row">
          <p class="text-muted">Designed by Seulki Oh 2019</p>
        </div>
      </div>
    </div>

  </body>
</html>
